*.log
.DS_Store
Thumbs.db
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__/
*.py[cod]
vendor/
.env
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.lock
*.bak
.cache/
dist/
build/
coverage/
*.test.js